* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lora', serif;
}




.bg {
  float: right;
  background-image: url("images/cat_dog.jpg");
  height: 100%;
  width: 61.8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

header {
  padding: 5px;
  text-align: left;
  height: 10%;
  display: flex;
  align-items: center;
}

.logo {
  width: 220px;

}

nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #8e5a33;
  text-decoration: none;
  padding: 15px;
  border: black 1px solid;
  margin-right: 20px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;

}

nav a:hover {
  color: white;
  background-color: #546B8F;
}

nav a.sign-up {
  color: white;
  background-color: #8e5a33;
  border: black 1px solid;
}

nav a.sign-up:hover {

  background-color: #5c3621;
}



.account-btns, .sign-in-form, .create-account-form, .welcome-page, .add-profile-btn {
  margin-top: 5rem;
  text-align: center;
}
input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid grey;
  outline: none;
}
input:focus {
  border: 3px solid black
}

.placeholder-album {
  height: 200px;
  width: 200px;
  border: 2px solid ;
  margin: 2rem;
  float: left;
}

.welcome-page {
  margin: 0 auto;
}

.avatar {
  height: 200px;
}

.pet {
  position: relative;
  text-align: center;
  color: white;;
  float: left;
  margin: .5rem;
}
.text-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/* .photo-album-list {
  border: 3px black solid;
} */

.album-photo {
  height: 400px;
}

.login-error-msg {
  color: red;
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}