* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;

  width: 100%;
}

/* .landing-page-text-bg {
  width: 100%;
  height: 100%;

} */

.bg {
  float: right;
  background-color: #cdc6be;
  background: url("images/cat_dog4.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



header {
  padding: 5px;
  text-align: left;
  height: 7%;
  display: flex;
  align-items: center;
  /* border-bottom: 4px #5c3621 solid; */
  background-color:white;
}

.logo {
  width: 200px;

}

nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #3d4045;
  text-decoration: none;
  padding: 10px;
  border: black 1px solid;
  margin-right: 20px;
  font-size: 18px;


}

nav a:hover {
  color: white;
  background-color: #7e6551;
}

nav a.sign-up {
  color: white;
  background-color: #d19444;
  border: black 1px solid;
}

nav a.sign-up:hover {
  background-color: #3d4045;
}

.landing-page-text {
  padding-top: 10%;
}

h2, .app-info-text {
  text-align: center;
}

.app-info-text {
  padding-top: 29px;
  font-size: 20px;
}

h2 {
  font-family: 'Aclonica', sans-serif;
  font-size: 48px;
}



.account-btns, .sign-in-form, .create-account-form, .welcome-page, .add-profile-btn {
  margin-top: 5rem;
  text-align: center;
}
input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid grey;
  outline: none;
}
input:focus {
  border: 3px solid black
}

.placeholder-album {
  height: 200px;
  width: 200px;
  border: 2px solid ;
  margin: 2rem;
  float: left;
}

.welcome-page {
  margin: 0 auto;
}

.avatar {
  height: 200px;
}

.pet {
  position: relative;
  text-align: center;
  color: white;;
  float: left;
  margin: .5rem;
}
.text-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/* .photo-album-list {
  border: 3px black solid;
} */

.album-photo {
  height: 400px;
}

.login-error-msg {
  color: red;
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}